* {
    background-color: #F0E42A;
}

body { 
    background-color: #F0E42A;
}

.bg-1 {
    background-color: #F0E42A;
}
.bg-3 {
    text-align: center;
    margin-left: 220px;
    background-color: #F0E42A;
}
.center {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width:50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0E42A;
    margin-top: -150px;
    text-align: center;
    
    margin-right: 185px;
    margin-left: 40px; 
  
  
  }

  .active {
      background-color: red; 
  }

  li{
      display: inline;
      float: left;
      padding-left: 50px;
      width: 300px;

  }
  
  
  a {
    display: block;
    padding: 8px;
    background-color: #F0E42A;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: red;
   width: 100%; 

   color: black;
  }


  #links {
    width: 128%;
    margin-top: 150px;
    margin-left: -150px;

  }

  .bg-4{
    padding: 0px;
    font-family: 'Amatic SC', cursive;
    background-color: #F0E42A;
    font-size: 30px;
    margin-left: 160px;
}

.bg-2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}