* {
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
}

body {
    width: 900px;
    background-color: lightcoral;
    margin: 0 auto;
}

#header, #header2 {
    font-size: 30px;
}

#header2 {
    background-color: black;
    color: white;
}

#column1, #column2, #column3 {
    width: 31.3%; 
    background-color: white;
    margin: 1%; 
    float: left;
    text-align: center;
}